
:root{
    --brand-color: E5E5E5;
 --text-font-family: 'Roboto', sans-serif;
}
.filter :hover{
    color: #404BBF;
}
body{
    font-family: var(--text-font-family);
    color: var(--brand-color);
}
    button{
    cursor: pointer;
}
p{
    font-style: normal;
}